
  <form [formGroup]="createExactMatchForm">

    <!-- Exact match Text Input -->
    <mat-form-field class="newExactMatch" appearance="standard">
      <mat-label>Add Accepted Answer</mat-label>
      <input matInput id="matchText" type="text" formControlName="matchText">
    </mat-form-field>
    <app-validation-messages [control]="createExactMatchForm.get('matchText')"></app-validation-messages>

    <!-- This button will not display: click is simulated in helping validate the form and save value -->
    <button class="simulatedButton" id="validateExactMatches" (click)="onSubmit(createExactMatchForm.value)"></button>

    <!-- Submit Button : If clicked will store the current exact match and reset form to add a new exact match -->
    <!-- <button class="simulatedButton" id="validateExactMatches" type="submit">Add Accepted Response<mat-icon>&nbsp;add</mat-icon></button> -->

  </form>
  <!-- <app-list-exact-match *ngIf="!isEditMode"></app-list-exact-match> -->

