<mat-card>
  <form [formGroup]="createExactMatchForm" (ngSubmit)="onSubmit(createExactMatchForm.value)">

    <!-- Option Text Input -->
    <mat-form-field appearance="standard">
      <mat-label>Answer Text</mat-label>
      <input matInput id="matchText" type="text" formControlName="matchText">
    </mat-form-field>
    <!-- Submit Button -->
    <button class="addIcon" mat-raised-button color="accent" type="submit">Add<mat-icon>&nbsp;add</mat-icon></button>
  </form>
  <app-list-exact-match></app-list-exact-match>
</mat-card>
