
  <form class="editShortAnswerContainer" [formGroup]="createExactMatchForm" (ngSubmit)="onSubmit(createExactMatchForm.value)">

    <!-- Exact match Text Input -->
    <mat-form-field class="newExactMatch" appearance="standard">
      <mat-label>Add Acceptable Answer</mat-label>
      <input matInput id="matchText" type="text" formControlName="matchText">
    </mat-form-field>
    <app-validation-messages [control]="createExactMatchForm.get('matchText')"></app-validation-messages>

    <!-- This button will not display: click is simulated in helping validate the form and save value -->
    <button class="simulatedButton" id="validateExactMatches" type="submit"></button>

  </form>

