mat-card{
  overflow: hidden;
  background-color: rgba(0, 0, 0, .04);
}

mat-list-item {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}

.isAnswerIcon {
  color: #ffffff;
  background-color: #2cb01a;
}

.optionListContainer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.optionList {
  margin-top: 40px;
}

.optionListItem {
  margin: 10px;
}
