<!-- Displays the amount of options added to the question -->
<p class="optionCount" *ngIf="this.questionService.hasOptions()">
  {{ options.length }} {{ options.length > 1 ? "options" : "option" }} added to the question.
</p>

<br>

<!-- List of created options for question -->
<div class="optionList" *ngIf="this.questionService.hasOptions()">
  <mat-card class="optionListContainer">
    <mat-list>
      <div *ngFor="let option of options; let i = index">

        <!-- Top divider of list item does not show for the first list item -->
        <mat-divider *ngIf="i != 0"></mat-divider>

        <!-- The list item itself. Contains the option text and the container which holds related commands. -->
        <!-- The [ngClass] definition is used to set the background color to green for correct answers. -->
        <mat-list-item [ngClass]="option.isAnswer ? 'correct' : '' ">

          <!-- The text displayed within the option. -->
          <span class="optionListItem">{{option.optionText}}</span>

          <!-- Section which houses the commands used on the list item (edit and delete buttons, for example). -->
          <section class="optionButtonContainer">
            <!-- This will become the link to EditOption component -->
            <mat-icon class="editIcon iconButton" matListIcon>edit</mat-icon>
            <mat-icon class="deleteIcon iconButton" matListIcon (click)="this.questionService.deleteOption(i)">delete</mat-icon>
          </section>
        </mat-list-item>

        <!-- Bottom divider of list item does not show for the last list item -->
        <mat-divider *ngIf="i != options.length -1"></mat-divider>
      </div>
    </mat-list>
  </mat-card>
</div>
