/* Importing global styles */
@import '../../styles.css';

/* Styles applied to the header container */
.headerContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Styles applied to the header text ("Skills Assessment") */
.headerContainer p, .headerContainer img{
  cursor: pointer;
  margin: auto;
  margin-left: 0;
}
.headerContainer img{
  margin-right: 20px;
  width: 40px;
}

/* Styles applied to the navigation menu */
.headerContainer button{
  margin: 15px;
  margin-right: 0;
  padding: 0;
  height: 50px;
  width: 50px;
}
.headerContainer button mat-icon{
  padding: 0;
  margin: 0;
  margin-right: 17px;
  margin-bottom: 15px;
  font-size: 40px;
}

/* Removes unusual top-margin applied to the last menu item. */
.mat-menu-item:last-of-type{
  margin-top: 0;
}
