<mat-toolbar color="primary">
  <mat-toolbar-row><p>Basic IT Software Assessment</p></mat-toolbar-row>
  <mat-toolbar-row><button color="accent" mat-raised-button [matMenuTriggerFor]="menu">Menu</button></mat-toolbar-row>
  <mat-menu class="nav" #menu="matMenu">
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/user/create')"><a>Sign up</a></button>
    <button mat-menu-item *ngIf="!userIsAuthenticated" (click)="this.helperService.refreshComponent('/login')"><a>Login</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/home')"><a>Home</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/category')"><a>Manage Category</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/question/list')"><a>View Questions</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/question/create')"><a>Create Question</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/assessment/create')"><a>Create Assessment</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/assessment/list')"><a>View Assessments</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a [routerLink]="['/assessment/take', '5e8ce30398758f44cc922614']">Take Assessments</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button>
  </mat-menu>

  <!-- <mat-menu class="nav" #menu="matMenu">
    <button mat-menu-item><a routerLink="/home">Home</a></button>
    <button mat-menu-item *ngIf="!userIsAuthenticated"><a routerLink="/user/create">Sign up</a></button>
    <button mat-menu-item *ngIf="!userIsAuthenticated"><a routerLink="/login">Login</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a routerLink="/category">Manage Category</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a routerLink="/question/list">View Questions</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a routerLink="/question/create">Create Question</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a routerLink="/assessment/create">Create Assessment</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a routerLink="/assessment/list">View Assessments</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated"><a [routerLink]="['/assessment/take', '5e8ce30398758f44cc922614']">Take Assessments</a></button>
    <button mat-menu-item *ngIf="userIsAuthenticated">Logout</button>
  </mat-menu>
</mat-toolbar> -->
