<mat-toolbar color="primary">
  <section class="headerContainer">

    <!-- Header Title Text -->
    <p (click)="this.helperService.refreshComponent('/home')">Basic IT Software Assessment</p>

    <!-- Navigation Menu Button-->
    <button color="accent" mat-raised-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Navigation Menu Options -->
    <mat-menu class="nav" #menu="matMenu" xPosition="before">
      <!-- Login Button - displays if user is not logged in -->
      <button mat-menu-item *ngIf="!userIsAuthenticated" (click)="this.helperService.refreshComponent('/login')">
        <a>Login</a>
      </button>

      <!-- Home Button - displays if user is logged in -->
      <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/home')">
        <a>Home</a>
      </button>

      <!-- Generate Assessment Button - displays if user is logged in -->
      <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/assessment/generate')">
        <a>Generate Assessment</a>
      </button>

      <!-- View Student Results Button - displays if user is logged in -->
      <button mat-menu-item *ngIf="userIsAuthenticated" (click)="this.helperService.refreshComponent('/student/list')">
        <a>View Student Results</a>
      </button>

      <!-- Manage Categories Button - displays if user is logged in AND is an admin -->
      <button mat-menu-item *ngIf="userIsAuthenticated && this.loginService.isAdmin" (click)="this.helperService.refreshComponent('/category')">
        <a>Manage Categories</a>
      </button>

      <!-- Create New User Button - displays if user is logged in AND is an admin -->
      <button mat-menu-item *ngIf="userIsAuthenticated && this.loginService.isAdmin" (click)="this.helperService.refreshComponent('/user/create')">
        <a>Create New User</a>
      </button>

      <!-- Create Question Button - displays if user is logged in AND is an admin -->
      <button mat-menu-item *ngIf="userIsAuthenticated && this.loginService.isAdmin" (click)="this.helperService.refreshComponent('/question/create')">
        <a>Create Question</a>
      </button>

      <!-- View Questions Button - displays if user is logged in AND is an admin -->
      <button mat-menu-item *ngIf="userIsAuthenticated && this.loginService.isAdmin" (click)="this.helperService.refreshComponent('/question/list')">
        <a>View Questions</a>
      </button>

      <!-- Create Assessment Button - displays if user is logged in AND is an admin -->
      <button mat-menu-item *ngIf="userIsAuthenticated && this.loginService.isAdmin" (click)="this.helperService.refreshComponent('/assessment/create')">
        <a>Create Assessment</a>
      </button>

      <!-- View Assessments Button - displays if user is logged in AND is an admin -->
      <button mat-menu-item *ngIf="userIsAuthenticated && this.loginService.isAdmin" (click)="this.helperService.refreshComponent('/assessment/list')">
        <a>View Assessments</a>
      </button>

      <!-- Logout Button - displays if user is logged in -->
      <button mat-menu-item *ngIf="userIsAuthenticated" (click)="onLogout()">
        <a>Logout</a>
      </button>

    </mat-menu>

  </section>
</mat-toolbar>
