mat-card {
  width: 90%;
  margin: 10px auto;
  padding: 15px;
}

mat-form-field{
  display: block;
}

/* Puts upload button on one line, rather than inline with the lower content. */
.uploadButton {
  display: block;
  margin-bottom: 10px;
}
