<mat-card>
  <form [formGroup]="createEssayForm" (ngSubmit)="onSubmit(createEssayForm.value)">

    <mat-form-field appearance="standard">
      <mat-label>Question Name: </mat-label>
      <input matInput name="essayName" type="text">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Question Text: </mat-label>
      <input matInput name="essayText" type="text">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Answer: </mat-label>
      <input matInput name="essayAnswer" type="text" >
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Save</button>


  </form>
</mat-card>
