<form>
  <mat-card>
    <mat-form-field>
    <mat-label for="essayName">Question Name: </mat-label>
    <input matInput name="essayName" type="text">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label for="essayText">Question Text: </mat-label>
    <input matInput name="essayText" type="text">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label for="essayAnswerText">Answer: </mat-label>
    <input matInput name="essayAnswerText" type="text" >
  </mat-form-field>
  <br/>
  <button mat-raised-button type="submit" color="primary">Save</button>
  </mat-card>
</form>
