<form [formGroup]="createUploadForm" (ngSubmit)="onSubmit(createUploadForm.value)">
  <h3>Upload question details</h3>
  <!-- Question Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Enter Question Text</mat-label>
    <input matInput id="questionText" type="text" formControlName="questionText">
  </mat-form-field>
  <app-validation-messages [control]="createUploadForm.get('questionText')"></app-validation-messages>


  <!-- Attachment Component for uploading files -->
  <app-attachment></app-attachment>

  <!-- Upload Answer section, including the header and the correct answer upload button -->
  <h3>Upload the answer to this question:</h3>
  <input hidden type="file" #uploader (change)="this.attachmentService.uploadFiles($event, 'correctAnswer')" />
  <button type="button" (click)="uploader.click()"
   mat-raised-button color="accent" class="uploadAnswer">
      Upload Correct Answer &nbsp;<mat-icon>cloud_upload</mat-icon>
  </button>

  <!-- Submit Button -->
  <button class="saveButton" mat-raised-button type="submit">Save Question&nbsp;<mat-icon>save</mat-icon></button>
</form>
