<form [formGroup]="createUploadForm" (ngSubmit)="onSubmit(createUploadForm.value)">

  <!-- Question Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Question Text</mat-label>
    <input matInput id="questionText" type="text" formControlName="questionText">
  </mat-form-field>

  <!-- Attachment Component for uploading files -->
  <app-attachment></app-attachment>
  <div>
    <label>Upload the answer to this question</label>
    <input hidden type="file" #uploader (change)="this.attachmentService.uploadFiles($event, 'correctAnswer')" />
    <button type="button" (click)="uploader.click()" mat-raised-button color="accent" class="mt-20">Upload File &nbsp;
      <mat-icon>cloud_upload</mat-icon></button>
  </div>

  <!-- Submit Button -->
  <button class="mt-20 saveButton" mat-raised-button type="submit">Save Question&nbsp;<mat-icon>save</mat-icon></button>
</form>
