<!-- Page Header -->
<h1 class="mat-display-1">Create an Assessment</h1>

<!-- Drag and drop container -->
<div cdkDropListGroup>

  <!-- All questions on the left -->
  <div class="questions-container">
    <h2>All Questions</h2>

      <div cdkDropList [cdkDropListData]="questions" class="questions-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let question of questions" cdkDrag>{{question.questionText}}</div>
      </div>

  </div>

  <!-- Assessment Questions on the right -->
  <div class="questions-container">
    <h2>Assessment Questions</h2>

    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
