<!-- Page Header -->
<h1 class="mat-display-1">Create an Assessment</h1>

<!-- Category Selection:  Filters the Available Question List -->
<div *ngIf="this.questionService.getCategoriesLoaded()">
  <form class="categorySelectForm" [formGroup]="selectCategoryForm">
    <mat-form-field>
      <mat-label>Select a Category</mat-label>
      <mat-select #categorySelect formControlName="categories"
        (selectionChange)="this.setAssessmentAvailableQuestions($event, selectCategoryForm)">
        <mat-option #categoryOption *ngFor="let category of categories; index as i" [value]="category">
          {{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>



<!-- Drag and drop container -->
<div cdkDropListGroup>

  <!-- All questions on the left -->
  <div class="questions-container">

    <div *ngFor="let category of organizedQuestions | keyvalue">

      <div *ngIf="this.selectedName === category.key">

        <h2>Available {{category.key}} questions</h2>

        <p>Select a category to get list of questions</p>

        <div
        cdkDropList
        #availableList="cdkDropList"
        [cdkDropListData]="category.value | keyvalue"
        [cdkDropListConnectedTo]="[assessmentList]"
        class="available-questions-list"
        (cdkDropListDropped)="drop($event)"
        >

          <div
          class="question-box"
          *ngFor="let question of category.value | keyvalue"
          cdkDrag
          [cdkDragData]="question">

            <strong style="margin: 5px;width: 50%;">TEXT: {{question.value.questionText}}</strong>
            <strong style="margin: 5px;width: 25%;color:forestgreen;">{{question.value.questionType}}</strong>
            <strong style="margin: 1px;width: 25%;color:darkred;">{{question.value.points}} points</strong>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Assessment Questions on the right -->
  <div class="questions-container">

    <h2>Assessment Questions</h2>

    <p>Drag and drop to re-order questions</p>

    <div
    cdkDropList #assessmentList="cdkDropList"
    [cdkDropListData]="assessmentQuestions"
    [cdkDropListConnectedTo]="[availableList]"
    class="assessment-questions-list"
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="entered($event)"
    (cdkDropListExited)="exited($event)">

      <div
      class="question-box"
      *ngFor="let question of assessmentQuestions; let i=index"
      cdkDrag
      [cdkDragData]="question">

        <strong style="margin: 5px;width: 50%;">TEXT: {{question.value.questionText}}</strong>
        <strong style="margin: 5px;width: 25%;color:forestgreen;">{{question.value.questionType}}</strong>
        <strong style="margin: 1px;width: 25%;color:darkred;">{{question.value.points}} points</strong>

      </div>
    </div>
  </div>
</div>
