<form [formGroup]="createMultipleChoiceForm" (ngSubmit)="onSubmit(createMultipleChoiceForm.value)">
  <h3>Multiple Choice Question Details</h3>
  <!-- Question Name Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Enter Question Text</mat-label>
    <input matInput id="questionText" type="text" formControlName="questionText">
  </mat-form-field>
  <app-validation-messages [control]="createMultipleChoiceForm.get('questionText')"></app-validation-messages>

  <!-- Add attachment component -->
  <app-attachment></app-attachment>

  <mat-card>
    <h3>Selectable Options</h3>

    <!-- This displays the options when option is saved by add option click -->
    <app-list-option></app-list-option>

    <!-- Calls the webform to create a new option.  Visisble on load. -->
    <app-create-option *ngIf="this.questionService.showCreateOption"></app-create-option>

    <!-- Buttons that control when the option webform is displayed -->
    <div class="buttonContainer">
      <!-- Cancel Button : If clicked will close the add acceptable answer form -->
      <button class="cancelOption" *ngIf="this.showCancelButton" mat-raised-button (click)="this.clickCancel()">
        Cancel Add Option<mat-icon>&nbsp;close</mat-icon>
      </button>
      <!-- Add Option button; used to display the Create Option form above -->
      <button class="addOption" mat-raised-button type="button" (click)="this.clickAdd()">
        Add Option<mat-icon>&nbsp;add</mat-icon>
      </button>
    </div>


  </mat-card>

  <!-- Submit Button : calls validation on all forms controllers when clicked -->
  <button class="mt-20 saveButton" mat-raised-button type="submit">Save Question&nbsp;<mat-icon>save</mat-icon></button>

  <!-- Cancel Button : Cancels the save and send user back to question list -->
  <button class="cancelOption" mat-raised-button [routerLink]="['/question/list']">Cancel Create Question&nbsp;<mat-icon>close
    </mat-icon></button>
</form>
