<p>{{ question.questionText }}</p>


      <label>Upload the answer to this question</label>
      <br>
      <input hidden type="file" #uploader (change)="this.attachmentService.uploadFiles($event, 'studentAnswer')" />
      <br>
      <button type="button" (click)="uploader.click()" mat-raised-button color="accent" class="mt-20">Upload File &nbsp;
      <mat-icon>cloud_upload</mat-icon></button>
      <br>
      <button type="button" (click)="onSubmit()" mat-raised-button color="accent" class="mt-20">Check Answer &nbsp;
        <mat-icon>done_outline</mat-icon></button>


