<br>
<mat-spinner *ngIf="this.helperService.isLoading"></mat-spinner>
<!-- The mat-card displayed before and during an assessment -->
<mat-card *ngIf="!this.helperService.isLoading && !this.assessmentTaken">
  <!-- The "Starting [assessment name] Assessment" header - displays before the assessment has been started. -->
  <h1 class="mat-display-1" *ngIf="!this.assessmentEngineService.assessmentStarted">Starting
    {{this.takenAssessment.assessment.name}}</h1>
  <p *ngIf="!this.assessmentEngineService.assessmentStarted">
    Please enter your information in the form below.
    When you're ready to start your test, click the Start Assessment button at the bottom of the page.
  </p>
  <p *ngIf="!this.assessmentEngineService.assessmentStarted">
    Answer each question to the best of your ability.
    <br>
  </p>

  <!-- The Enter Student Information form - displays before the assessment has been started. -->
  <app-create-student *ngIf="!this.assessmentEngineService.assessmentStarted"></app-create-student>

  <!-- The form used for the student answer -->
  <form [formGroup]="answerForm" (ngSubmit)="onSubmit(answerForm.value)">

    <!-- The form used for the student answer -->
    <app-view-question *ngIf="this.assessmentEngineService.assessmentStarted"
      [currentQuestion]=this.assessmentEngineService.currentQuestion></app-view-question>

    <!-- The footer view which contains all the button controls -->
    <app-footer></app-footer>
  </form>
</mat-card>

<!-- The mat-card displayed after taking an assessment. -->
<mat-card *ngIf="!this.helperService.isLoading && this.assessmentTaken">
  <!-- Page Header -->
  <h1 class="mat-display-1">Assessment Complete</h1>
  <p>Thank you, {{this.takenAssessment.student.firstName}}. Your submission has been saved.</p>
  <p>You may close this webpage and return to your advisor.</p>
  <br>
  <p><b>Name:</b> {{this.takenAssessment.student.firstName}} {{this.takenAssessment.student.lastName}}</p>
  <p><b>Assessment:</b> {{this.takenAssessment.assessment.name}}</p>
  <br>
</mat-card>
<br>
