<div *ngIf="!this.assessmentTaken">
  <!-- Create student form which hides on submit -->
  <app-create-student *ngIf="!this.assessmentEngineService.assessmentStarted"></app-create-student>
  <!-- The form used for the student answer -->
  <form [formGroup]="answerForm" (ngSubmit)="onSubmit(answerForm.value)">
    <!-- The view for once the assessment engine is started -->
    <app-view-question *ngIf="this.assessmentEngineService.assessmentStarted"
      [currentQuestion]=this.assessmentEngineService.currentQuestion></app-view-question>
    <app-footer></app-footer>
  </form>
</div>
<div *ngIf="this.assessmentTaken">
  <p>This assessment has already been taken and cannot be taken again.</p>
</div>
