<h1>Student Assessment Results</h1>

<!-- This card displays the webform for the criteria to be searched for -->
<mat-card>
  <h3>Enter Search Criteria</h3>

  <form [formGroup]="findStudentForm" >

    <!-- Student Id Input -->
    <mat-form-field appearance="standard">
      <mat-label color="primary" class="label-header">Add Student ID</mat-label>
      <input matInput id="studentId" type="text" formControlName="studentId">
    </mat-form-field>

    <!-- First Name Input -->
    <mat-form-field appearance="standard">
      <mat-label color="primary" class="label-header">Add first name</mat-label>
      <input matInput id="firstName" type="text" formControlName="firstName">
    </mat-form-field>

    <!-- Last Name Input -->
    <mat-form-field appearance="standard">
      <mat-label color="primary" class="label-header">Add last name</mat-label>
      <input matInput id="lastName" type="text" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="date" appearance="standard">
      <mat-label color="primary" class="label-header">Add date of birth</mat-label>
      <input matInput id="dateOfBirth" [matDatepicker]="picker" formControlName="dateOfBirth" [min]="minDate"
        [max]="maxDate" readonly="readonly">
      <mat-datepicker-toggle matSuffix [for]="picker" startView="year"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <br>
    <!-- Submit Button -->
    <button class="mt-20 saveButton" mat-raised-button (click)="onSubmit(findStudentForm.value)">Get Results</button>
    <button class="cancelOption" mat-raised-button (click)="this.clearForm()">Clear Search Criteria</button>
  </form>

</mat-card>

<br>

<!-- This card displays the output generated based upon the search criteria -->
<mat-card *ngIf="showTableData">
  <!-- Page Header -->
  <h3>Student Assessment Results</h3>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Student Id Column -->
    <ng-container matColumnDef="studentId">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.student !== null">{{takenAssessment.student.studentId}}</div>
      </td>
    </ng-container>

    <!-- Student Id Column -->
    <ng-container matColumnDef="campusLocation">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Campus Location</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.student !== null">{{takenAssessment.student.campusLocation}}</div>
      </td>
    </ng-container>


    <!-- Student Name Column -->
    <ng-container matColumnDef="studentName">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.student !== null">{{takenAssessment.student.lastName}},
          {{takenAssessment.student.firstName}}</div>
      </td>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.student !== null">{{takenAssessment.student.dateOfBirth | date:'MM/d/yyyy'}}</div>
      </td>
    </ng-container>

    <!-- Student Name Column -->
    <ng-container matColumnDef="score">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.score !== null">{{takenAssessment.score}}%</div>
      </td>
    </ng-container>

    <!-- Student Name Column -->
    <ng-container matColumnDef="modifiedOn">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Date Taken</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.modifiedOn !== null">{{takenAssessment.modifiedOn | date:'MM/d/yyyy'}}</div>
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="studentPassed">
      <th class="columnHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Student Result</th>
      <td mat-cell *matCellDef="let takenAssessment">
        <div *ngIf="takenAssessment.studentPassed !== null">
          <div *ngIf="takenAssessment.studentPassed">No BITS Required</div>
          <div *ngIf="!takenAssessment.studentPassed">BITS Required</div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; Index as i"
      [routerLink]="['/student/edit', row._id]"></tr>
  </table>
</mat-card>
<br>
