<!-- Submit Button for student form to start assessment -->
<button color="primary" *ngIf="!this.assessmentEngineService.assessmentStarted" mat-raised-button type="submit" (click)="startAssessment()">Start Assessment&nbsp;<mat-icon>save</mat-icon></button>
<!-- Submit Button for student submitted answer to load next question -->
<button *ngIf="this.assessmentEngineService.assessmentStarted" class="mt-20 saveButton" mat-raised-button type="submit">Save Answer&nbsp;<mat-icon>save</mat-icon></button>
<!-- Submit Button for student submitted answer to finish the assessment -->
<button *ngIf="this.assessmentEngineService.assessmentStarted" class="mt-20 saveButton" mat-raised-button type="submit">Finish&nbsp;<mat-icon>save</mat-icon></button>
<!-- Button to quit assessment early -->
<button *ngIf="this.assessmentEngineService.assessmentStarted" class="mt-20 saveButton" mat-raised-button>Quit Assessment&nbsp;<mat-icon>cancel</mat-icon></button>
