<div *ngFor="let question of questions; let i = index">
  <mat-list-item *ngFor="let option of this.questionService.asMultipleChoice(question).options">
    <span>{{option.optionText}}</span>

    <!-- This is the "is answer" chip. Appears if the option is an answer -->
    <mat-chip-list>
      <mat-chip class="isAnswerIcon" *ngIf="option.isAnswer" [selectable]="false" [selected]="false">
        Answer&nbsp;
        <mat-icon>check_circle</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-list-item>
</div>
