<!-- The spinner object, displayed when the application is loading the questions -->
<mat-spinner color="primary" *ngIf="this.helperService.isLoading"></mat-spinner>

<!-- The main "Edit Question" display -->
<mat-card *ngIf="!this.helperService.isLoading">
  <h1 class="mat-display-1">Edit Question</h1>

  <!-- Point Value Input -->
  <form class="pointValueForm" [formGroup]="editPointForm" (ngSubmit)=onSubmit(editPointForm.value)>
    <mat-form-field class="pointValueInput">
      <mat-label>Enter Point Value (Numeric)</mat-label>
      <input matInput #pointValue id="points" type="text" formControlName="points"
        (keyup)="this.questionService.onHandlePoints($event)" [value]="this.questionService.getPoints()">
    </mat-form-field>
    <app-validation-messages [control]="editPointForm.get('points')"></app-validation-messages>

    <!-- This button will not display: click is simulated in helping validate the form -->
    <button class="simulatedButton" id="validatePointsEdited" type="submit"></button>
  </form>

  <!-- The categories list -->
  <app-create-category></app-create-category>

  <!-- The question type form; determined by the type of question the user chose to edit -->
  <div *ngIf="question != null" [ngSwitch]="question.questionType">
    <app-edit-checkbox *ngSwitchCase="'Checkbox'" [question]="question"></app-edit-checkbox>
    <app-edit-short-answer *ngSwitchCase="'Short Answer'" [question]="question"></app-edit-short-answer>
    <app-edit-multiple-choice *ngSwitchCase="'Multiple Choice'" [question]="question"></app-edit-multiple-choice>
    <app-edit-true-false *ngSwitchCase="'True or False'" [question]="question"></app-edit-true-false>
    <app-edit-upload *ngSwitchCase="'Upload'" [question]="question"></app-edit-upload>
  </div>
</mat-card>
