<br>
<!-- The main body of the help page -->
<mat-card>
  <h1 class="mat-display-1">Help</h1>

  <!-- The Generating an Assessment expansion panel -->
  <mat-expansion-panel>
    <!-- The panel header -->
    <mat-expansion-panel-header>
      <mat-panel-title>Generating an Assessment</mat-panel-title>
    </mat-expansion-panel-header>
    <!-- The panel content body, displaying each step in a column layout. -->
    <div class="helpFlex">
      <!-- Step 1 -->
      <div class="helpStepFlex">
        <!-- Step 1's help text -->
        <div class="helpTextDiv">
          <p>From the Home Page, click the 'Generate Assessment' button. This will open the Generate Assessment page.</p>
          <p>You can also select the 'Generate Assessment' option from the navigation menu at the top-right of the page.</p>
        </div>
        <!-- Step 1's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/generateAssessment/step1.gif"/>
        </div>
      </div>

      <!-- Step 2 -->
      <div class="helpStepFlex">
        <!-- Step 2's help text -->
        <div class="helpTextDiv">
          <p>Using the dropdown menu, select the assessment you wish to generate a URL for.</p>
          <p>After you've selected an assessment, click the 'Generate Assessment URL' button.</p>
        </div>
        <!-- Step 2's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/generateAssessment/step2.gif"/>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="helpStepFlex">
        <!-- Step 3's help text -->
        <div class="helpTextDiv">
          <p>The URL for the assessment will be copied to your computer. You can provide this URL to your student.
             Place this URL by pressing both the 'Ctrl' and 'V' keys on your keyboard.</p>
          <p>You can also click the 'Start Assessment' button to open the assessment.</p>
        </div>
        <!-- Step 3's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/generateAssessment/step3.gif"/>
        </div>
      </div>
    </div>
  </mat-expansion-panel>



  <!-- The Generating an Assessment expansion panel -->
  <mat-expansion-panel>
    <!-- The panel header -->
    <mat-expansion-panel-header>
      <mat-panel-title>Searching for a Student's Assessment Results</mat-panel-title>
    </mat-expansion-panel-header>
    <!-- The panel content body, displaying each step in a column layout. -->
    <div class="helpFlex">
      <!-- Step 1 -->
      <div class="helpStepFlex">
        <!-- Step 1's help text -->
        <div class="helpTextDiv">
          <p>From the Home Page, click the 'View Student Results' button. This will open the Student Results page.</p>
          <p>You can also select the 'View Student Results' option from the navigation menu at the top-right of the page.</p>
        </div>
        <!-- Step 1's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/viewStudentResults/step1.gif"/>
        </div>
      </div>
      <!-- Step 2 -->
      <div class="helpStepFlex">
        <!-- Step 2's help text -->
        <div class="helpTextDiv">
          <p>Enter your search criteria within the Search Criteria section. You must provide one or more items to search.</p>
          <p>To search for students based on your criteria, click the 'Get Results' button at the bottom-right of the section.
             This will display the results of your search.
          </p>
        </div>
        <!-- Step 2's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/viewStudentResults/step2.gif"/>
        </div>
      </div>
      <!-- Step 3 -->
      <div class="helpStepFlex">
        <!-- Step 3's help text -->
        <div class="helpTextDiv">
          <p>Results are based on the criteria you provided. Results will match each piece of criteria you provided.</p>
          <p>Under the Result Details column, click the icon to open the student's test results.</p>
        </div>
        <!-- Step 3's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/viewStudentResults/step3.gif"/>
        </div>
      </div>
      <!-- Step 4 -->
      <div class="helpStepFlex">
        <!-- Step 4's help text -->
        <div class="helpTextDiv">
          <p>The student's test results are displayed here. Basic information is displayed at the top of the page.</p>
        </div>
        <!-- Step 4's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/viewStudentResults/step4.gif"/>
        </div>
      </div>
      <!-- Step 5 -->
      <div class="helpStepFlex">
        <!-- Step 5's help text -->
        <div class="helpTextDiv">
          <p>Details on each question can be found below. You can see if the student's answer was correct or incorrect.</p>
          <p>You can also view the question's point value, the question text, the student's submitted answer(s), and the correct answer(s).</p>
        </div>
        <!-- Step 5's help image -->
        <div class="helpImageDiv">
          <img src="assets/helpImages/viewStudentResults/step5.gif"/>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

</mat-card>
<br>
