<br>
<mat-card>
  <h1 class="mat-display-1">Create New User</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup(signupForm.value)">
    <mat-form-field>
      <input matInput name="username" type="text" placeholder="Username" formControlName="username">
    </mat-form-field>
    <app-validation-messages [control]="signupForm.get('username')"></app-validation-messages>

    <mat-form-field>
      <input type="password" name="password1" matInput placeholder="Password" formControlName="password1">
    </mat-form-field>
    <app-validation-messages [control]="signupForm.get('password1')"></app-validation-messages>

    <mat-form-field>
      <input type="password" name="password2" matInput placeholder="Re-enter Password" formControlName="password2">
    </mat-form-field>
    <app-validation-messages [control]="signupForm.get('password2')"></app-validation-messages>

    <mat-checkbox class="mt-20" name="isAdmin" formControlName="isAdmin" [checked]="true">Is admin?
    </mat-checkbox>

    <button mat-raised-button class="addOption" type="submit">Add New User<mat-icon>&nbsp;add</mat-icon></button>
  </form>
</mat-card>
