<!-- <div *ngIf="this.isTimed === true"> -->
<p>This is a Timed Test:  {{ this.assessmentService.getMaxTime() }} minutes</p>
<!-- </div> -->

<!-- <div *ngIf="this.wrongStreak !== 0"> -->
<p>Number of Consecutive Incorrect Answers for Ending Assessment:   {{ this.assessmentService.getWrongStreak() }}</p>
<!-- </div> -->

<p>Minimum Passing Score:   {{ this.assessmentService.getMinScore() }}%</p>

<!-- <div *ngIf="this.isRandom === true"> -->
<p>The following question order is randomized:  </p>
<!-- </div> -->

<!-- <div *ngIf="this.isRandom === true"> -->
<p>The following question order is:  </p>
<!-- </div> -->
