/* Importing shared styles from the list-option component - used when displaying each question option */
@import "../../../shared/option/list-option/list-option.component.css";

/* Styles the outer container; the one with the header. */
mat-card {
  width: 85%;
  margin: 20px auto;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f9f9f9;
}

/* Styles the expansion panel and it's related items. */
mat-expansion-panel{
  margin: auto;
  width: 90%;
  margin-bottom: 5px;
  background-color: #f0f0f0;
}
mat-panel-title{
  font-size: 16px;
}

/* Styles the question text h3 header */
h3.questionTextContent{
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
}

/* Adds a little bit of spacing to the bottom of the last question. */
div:last-of-type{
  padding-bottom: 10px;
}

/* Styles applied to the True False answer container */
.trueFalseContainer{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

/* Styles applied to the True False Answer icon */
mat-chip.isTrueFalseAnswerIcon {
  margin-left: 20px;
  margin-right: auto;
  display: inline-block;
}
.isTrue{
  background-color: #ccf8d3;
  border: solid 1px black;
}
.isFalse{
  background-color: #82142D;
  color: white;
}

mat-grid-tile mat-grid-tile-header{
  height: 30px !important;
}

.text {
  justify-content: flex-start !important;
}

mat-grid-tile, .attachmentContainer{
  height: 50px !important;
}
.attachmentsContent p{
  margin-top: 25px;
}
.attachmentsContent div{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.attachmentsContent div button.uploadAnswer{
  margin: 0px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

mat-grid-tile p{
  padding-bottom: 8px;
}

.optionContainer{
  display: flex;
  flex-direction: row;
}
.optionContainer mat-icon, .optionContainer span{
  padding-top: 10px;
  margin: auto;
  margin-left: 15px;
}
.optionContainer mat-icon{
  width: 25px;
}
.optionContainer span{
  width: 100%;
}

.iconContainer{
  height: 30px !important;
}
