.optionListItem {
  margin: 10px;
}

.isTrueChip, .isAnswerIcon {
  color: #ffffff;
  background-color: #2cb01a;
}

.isFalseChip {
  color: #ffffff;
  background-color: rgb(254, 0, 2);
}

mat-card {
  margin-top: 55px;
}

.iconButton {
  margin-top: 25px;
  float: right;
}
