@import "../../../../styles.css";

/* Adjusts the styling of the main Create a Question form (background box) */
mat-card {
  width: 85%;
  margin: 20px auto;
}

/* Adjusts the position of the Question Type dropdown box */
.questionTypeContainer {
  margin-top: 0px;
}

/* Adjusts the position of the Point Value form, and removes it's background color */
.pointValueForm, .categorySelectForm{
  padding: 0;
  background-color: rgba(0,0,0,0.0);
}

/* Sets minimum width values for each input (Question Type, Point Value, and Select Category */
.questionTypeInput, .pointValueInput, .categorySelectInput{
  min-width: 200px;
}

/* Adjusts the width of the Question Type and Point Value input */
.questionTypeInput, .pointValueInput{
  width: 30%;
}

/* Adjusts the width of the Category Select input */
.categorySelectInput{
  width: 50%;
}

/* Hides the button to save configurations
+   The button click is now simulated in the save assessment of assessment service*/
.simulatedButton {
  display: none;
}
