<!-- component container -->
<mat-card>
  <h1 class="mat-display-1">Create a Question</h1>
    <mat-form-field>
      <mat-label>Question Type</mat-label>
      <!-- Calls onQuestionTypeSelected in ts file -->
      <mat-select #questionTypeSelect (selectionChange)="onQuestionTypeSelected($event)">
        <!-- This element loops over the question types and adds them as options -->
        <mat-option
        *ngFor="let questionType of questionTypes"
        [value]="questionType.key">{{ questionType.value }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <!-- Create Category Component with a nested list of categories -->
    <app-create-category></app-create-category>
    <br />

    <br />
    <!-- Create components for each question type in a switch/case statement -->
    <!-- Displays a question type component based on user selection from dropdown -->
    <div [ngSwitch]="questionTypeSelected" class="questionTypeContainer">
      <app-create-checkbox *ngSwitchCase="'Checkbox'"></app-create-checkbox>
      <app-create-short-answer *ngSwitchCase="'Short Answer'"></app-create-short-answer>
      <app-create-multiple-choice *ngSwitchCase="'Multiple Choice'"></app-create-multiple-choice>
      <app-create-true-false *ngSwitchCase="'True False'"></app-create-true-false>
      <app-create-upload *ngSwitchCase="'Upload'"></app-create-upload>
    </div>
</mat-card>
<br>
