/* Importing the task-specific styling. */
@import "../../_taskStyles/editStyles.css";

/* Sets the Upload Answer button to display as a block */
.uploadAnswer {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

/* Adjusts the save and cancel button's margins to anchor in a similar manner to the True False question component. */
/* The Upload Answer button is larger than the True/False answer choice,
   which would cause the buttons to be nudged down when switching to/from True False. */
.saveButton, .cancelOption{
  margin-top: 54px;
}
