<mat-checkbox [checked]="attachmentsLoaded == null ? this.attachmentService.hasAttachments : attachmentsLoaded"
  class="mt-20" (change)="this.attachmentService.hasAttachmentsChanged()">Does this question have attachments?
</mat-checkbox>

<input hidden type="file" #uploader (change)="this.attachmentService.uploadFiles($event)" multiple />


<button type="button" (click)="uploader.click()" *ngIf="this.attachmentService.hasAttachments" mat-raised-button
  color="accent" class="mt-20">Upload File &nbsp;<mat-icon>cloud_upload</mat-icon></button>

<p *ngIf="this.attachmentService.hasAttachmentFileNames">
  {{ this.attachmentService.getAttachmentFileNames("attachments") }}</p>
