  <!-- The form that builds the assessment property values -->

  <!-- Setting if randomized order -->
  <div>
    <mat-checkbox
    [checked]="this.assessmentService.isRandom"
    class="mt-20"
    (change)="this.assessmentService.isRandomChanged()">
    Change the question order to be randomized?
    </mat-checkbox>
  </div>
  <br>

  <!-- Setting if assessment is to be timed -->
  <div>
    <mat-checkbox
    [checked]="this.assessmentService.isTimed"
    class="mt-20"
    (change)="this.assessmentService.isTimedChanged($event)">
    Will the assessment be timed?
    </mat-checkbox>
  </div>
  <br>

  <!-- The maximum minutes text input : Only visible if isTimed is checked -->
  <form [formGroup]="createConfigurationForm" (ngSubmit)="onSubmit(createConfigurationForm.value)">
    <mat-form-field appearance="standard">
    <mat-label>Maximum Mintues Allowed</mat-label>
    <input matInput id="maxTime" type="text" formControlName="maxTime">
  </mat-form-field>
  <br>

  <!-- The wrong streak with number ticker -->
  <mat-form-field appearance="standard">
    <mat-label>Number of consecutive incorrect answers for auto fail</mat-label>
    <input matInput id="wrongStreak" type="number" formControlName="wrongStreak">
  </mat-form-field>
  <br>
  </form>

  <!-- Setting the minumum passing score percentage -->
  <div>
    <mat-slider
    thumbLabel
    [displayWith]="formatMinScoreLabel"
    tickInterval="1"
    min="1"
    max="100"
    #matslider
    [value]="this.assessmentService.getMinScore()"
    (change)="this.assessmentService.minScoreChanged($event, value)">
    </mat-slider>
    <br>
    <mat-label>Minimum Passing Score: {{matslider.value}}%</mat-label>
  </div>
  <br>

