<form class="editOptionContainer" [formGroup]="editOptionForm" (ngSubmit)="onSubmit(editOptionForm.value)">
  <!-- Option Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Option Text</mat-label>
    <input matInput id="optionText" type="text" formControlName="optionText" value="{{option.optionText}}">
  </mat-form-field>
  <app-validation-messages [control]="editOptionForm.get('optionText')"></app-validation-messages>

  <!-- Is Answer Checkbox -->
  <mat-checkbox class="mt-20" formControlName="isAnswer">Is this a correct answer?</mat-checkbox>

  <!-- Section which houses the command to delete the list item. -->
  <section class="optionButtonContainer">
    <mat-icon class="deleteIcon iconButton" matListIcon (click)="this.questionService.deleteOptionbyIndex(option, i)">delete</mat-icon>
  </section>


  <!-- This button will not display: click is simulated in helping validate the form and save value
       Uses a class rather than id to run through an array of options -->
  <button class="simulatedButtonMCClass" type="submit"></button>
  <button class="simulatedButtonCBClass" type="submit"></button>
</form>
