<form class="editOptionContainer" [formGroup]="editOptionForm" (ngSubmit)="onSubmit(editOptionForm.value)">
  <!-- Option Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Option Text</mat-label>
    <input matInput id="optionText" type="text" formControlName="optionText" value="{{option.optionText}}">
  </mat-form-field>
  <app-validation-messages [control]="editOptionForm.get('optionText')"></app-validation-messages>

  <!-- Is Answer Checkbox -->
  <mat-checkbox class="mt-20" formControlName="isAnswer">Is this a correct answer?</mat-checkbox>

  <!-- This button will not display: click is simulated in helping validate the form and save value -->
  <button class="simulatedButton" type="submit" id="validateMCOptionEdit"></button>
  <button class="simulatedButton" type="submit" id="validateCBOptionEdit"></button>
</form>
