<mat-list role="list">
  <div *ngFor="let question of questions; let i = index">
    <mat-chip-list *ngIf="question.questionType === 'True False'">
      <mat-chip class="isAnswerIcon" *ngIf="this.questionService.asTrueFalse(question).answer" [selectable]="false"
        [selected]="false">
        True
      </mat-chip>
      <mat-chip class="isAnswerIcon" *ngIf="!this.questionService.asTrueFalse(question).answer" [selectable]="false"
        [selected]="false">
        False
      </mat-chip>
    </mat-chip-list>
    <a *ngIf="question.hasAttachments" href="{{question.attachments[0].content}}"
      download="{{question.attachments[0].name}}">{{ question.attachments[0].name }}</a>
  </div>
</mat-list>
