<br>
<mat-card *ngIf="takenAssessment !== undefined">

  <!-- Displaying page header - "[Student Full Name]'s Assessment Results"-->
  <h1 class="mat-display-1">{{this.takenAssessment.student.firstName}} {{this.takenAssessment.student.lastName}}'s
    Assessment Results</h1>

  <!-- Creating "header" table displaying assessment information. -->
  <mat-grid-list cols="6" gutterSize="5px" rowHeight="60px">
    <!-- Assessment Name Tile -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Assessment Name</h4>
      </mat-grid-tile-header>
      <p>{{takenAssessment.assessment.name}}</p>
    </mat-grid-tile>

    <!-- Score Tile -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Score</h4>
      </mat-grid-tile-header>
      <p>{{takenAssessment.score}}%</p>
    </mat-grid-tile>

    <!-- Assessment Results Tile -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Assessment Results</h4>
      </mat-grid-tile-header>
      <div *ngIf="takenAssessment.studentPassed !== null">
        <!-- If they passed, displays 'No BITS Required' -->
        <div *ngIf="takenAssessment.studentPassed">
          <p>No BITS Required</p>
        </div>
        <!-- If they didn't pass, displays 'BITS Required' -->
        <div *ngIf="!takenAssessment.studentPassed">
          <p>BITS Required</p>
        </div>
      </div>
    </mat-grid-tile>

    <!-- Date Taken Tile -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Date Taken</h4>
      </mat-grid-tile-header>
      <p>{{takenAssessment.modifiedOn | date:'MM/d/yyyy'}}</p>
    </mat-grid-tile>
  </mat-grid-list>

  <br>
  <br>
  <br>

  <!-- Student Question Details Section -->
  <!-- Displays info about each question they were asked and their responses. -->
  <div *ngIf="!this.helperService.isLoading">
    <!-- Looping through each question in the assessment. -->
    <mat-card class="questionContainer" *ngFor="let question of takenAssessment.questions; let i=index">
      <!-- Question Number in assessment -->
      <h2>Question {{i + 1}}</h2>

      <!-- Point value on question -->
      <h4>Point Value: {{ question.points }}</h4>

      <!-- Question Text Display -->
      <p class="questionTextContent">{{ question.questionText }}</p>

      <!-- Divider between Question Detail / Student Answer -->
      <hr>


      <!-- Displays responses based on question type -->
      <!-- Checkbox results display -->
      <div *ngIf="question.questionType == 'Checkbox'" class="optionList">

        <!-- Displays message if student did not provide answer for this question -->
        <div *ngIf="!this.question.isAnswered">
          <p><strong>Student did not provide an answer for this quesiton.</strong></p>
        </div>

        <div *ngIf="this.question.isAnswered">
          <!-- Displays message for a correctly answered question -->
          <div *ngIf="this.question.isAnsweredCorrectly">
            <div class="optionContainer correct optionDisplay">
              <mat-icon class="isAnswerIcon">check_circle</mat-icon>
              <span><strong>Student Answer: Correct</strong></span>
            </div>
          </div>

          <!-- Displays message for a incorrectly answered question -->
          <div *ngIf="!this.question.isAnsweredCorrectly">
            <div class="optionContainer wrong optionDisplay">
              <mat-icon class="isAnswerIcon">cancel</mat-icon>
              <span><strong>Student Answer: Incorrect</strong></span>
            </div>
          </div>

          <!-- Displays student provided answer -->
          <p><strong>Submitted Answers:</strong></p>
          <div *ngFor="let option of this.questionService.asCheckbox(question).options; let i = index">
            <div *ngIf="this.option.optionIsSelected">
              <span class="matchListItem">{{this.option.optionText}}</span>
            </div>
          </div>

          <!-- Divider between Student answer / Correct Answer -->
          <hr>

          <!-- Displays instructor provided correct answer -->
          <p><strong>Correct Answers:</strong></p>
          <div *ngFor="let option of this.questionService.asCheckbox(question).options; let i = index">
            <div *ngIf="this.option.isAnswer">
              <span class="matchListItem">{{this.option.optionText}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Multiple Choice results display -->
      <div *ngIf="question.questionType == 'Multiple Choice'" class="optionList">

        <!-- Displays message if student did not provide answer for this question -->
        <div *ngIf="!this.question.isAnswered">
          <p><strong>Student did not provide an answer for this quesiton.</strong></p>
        </div>

        <div *ngIf="this.question.isAnswered">
          <!-- Displays message for a correctly answered question -->
          <div *ngIf="this.question.isAnsweredCorrectly">
            <div class="optionContainer correct optionDisplay">
              <mat-icon class="isAnswerIcon">check_circle</mat-icon>
              <span><strong>Student Answer: Correct</strong></span>
            </div>
          </div>

          <!-- Displays message for a incorrectly answered question -->
          <div *ngIf="!this.question.isAnsweredCorrectly">
            <div class="optionContainer wrong optionDisplay">
              <mat-icon class="isAnswerIcon">cancel</mat-icon>
              <span><strong>Student Answer: Incorrect</strong></span>
            </div>
          </div>

          <!-- Displays student provided answer -->
          <p><strong>Submitted Answer:</strong></p>
          <div *ngFor="let option of this.questionService.asMultipleChoice(question).options; let i = index">
            <div *ngIf="this.option.optionIsSelected">
              <span class="matchListItem">{{this.option.optionText}}</span>
            </div>
          </div>

          <!-- Divider between Student answer / Correct Answer -->
          <hr>

          <!-- Displays instructor provided correct answer -->
          <p><strong>Correct Answer:</strong></p>
          <div *ngFor="let option of this.questionService.asMultipleChoice(question).options; let i = index">
            <div *ngIf="this.option.isAnswer">
              <span class="matchListItem">{{this.option.optionText}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Short Answer results display -->
      <div class="matchList" *ngIf="question.questionType == 'Short Answer'">

        <!-- Displays message if student did not provide answer for this question -->
        <div *ngIf="!this.question.isAnswered">
          <p><strong>Student did not provide an answer for this quesiton.</strong></p>
        </div>

        <div *ngIf="this.question.isAnswered">
          <!-- Displays message for a correctly answered question -->
          <div *ngIf="this.question.isAnsweredCorrectly">
            <div class="optionContainer correct optionDisplay">
              <mat-icon class="isAnswerIcon">check_circle</mat-icon>
              <span><strong>Student Answer: Correct</strong></span>
            </div>
          </div>

          <!-- Displays message for a incorrectly answered question -->
          <div *ngIf="!this.question.isAnsweredCorrectly">
            <div class="optionContainer wrong optionDisplay">
              <mat-icon class="isAnswerIcon">cancel</mat-icon>
              <span><strong>Student Answer: Incorrect</strong></span>
            </div>
          </div>

          <!-- Displays student provided answer -->
          <p><strong>Submitted Answer:</strong></p>
          <div>
            <span class="matchListItem">{{this.questionService.asShortAnswer(question).studentAnswer}}</span>
          </div>

          <!-- Divider between Student answer / Correct Answer -->
          <hr>

          <!-- Displays instructor provided correct answer -->
          <p><strong>Correct Answer(s):</strong></p>
          <div *ngFor="let exactMatch of this.questionService.asShortAnswer(question).matches; let i = index">
            <span class="matchListItem">{{exactMatch.matchText}}</span>
          </div>
        </div>
      </div>

      <!-- Upload results display -->
      <div *ngIf="question.questionType === 'Upload'">
        <!-- Displays message if student did not provide answer for this question -->
        <div *ngIf="!this.question.isAnswered">
          <p><strong>Student did not provide an answer for this quesiton.</strong></p>
        </div>

        <div *ngIf="this.question.isAnswered">
          <!-- Displays message for a correctly answered question -->
          <div *ngIf="this.question.isAnsweredCorrectly">
            <div class="optionContainer correct optionDisplay">
              <mat-icon class="isAnswerIcon">check_circle</mat-icon>
              <span><strong>Student Answer: Correct</strong></span>
            </div>
          </div>

          <!-- Displays message for a incorrectly answered question -->
          <div *ngIf="!this.question.isAnsweredCorrectly">
            <div class="optionContainer wrong optionDisplay">
              <mat-icon class="isAnswerIcon">cancel</mat-icon>
              <span><strong>Student Answer: Incorrect</strong></span>
            </div>
          </div>

          <!-- Displays student provided answer -->
          <p><strong>Submitted Answer:</strong></p>
          <div class="buttonContainer" *ngFor="let a of question.submittedAnswer">
            <button class="uploadAnswer downloadButton" mat-raised-button (click)="this.attachmentService.downloadAttachment(a)">
              {{a.name}} &nbsp;<mat-icon>cloud_download</mat-icon>
            </button>
          </div>
          <br>

          <!-- Divider between Student answer / Correct Answer -->
          <hr>

          <!-- Displays instructor provided correct answer -->
          <p><strong>Correct Answer:</strong></p>
          <div class="buttonContainer" *ngFor="let a of question.correctAnswer">
            <button class="uploadAnswer downloadButton" mat-raised-button (click)="this.attachmentService.downloadAttachment(a)">
              {{a.name}} &nbsp;<mat-icon>cloud_download</mat-icon>
            </button>
          </div>
          <br>
        </div>
      </div>

      <!-- True False results display -->
      <div *ngIf="question.questionType === 'True False'">

        <!-- Displays message if student did not provide answer for this question -->
        <div *ngIf="!this.question.isAnswered">
          <p><strong>Student did not provide an answer for this quesiton.</strong></p>
        </div>

        <div *ngIf="this.question.isAnswered">
          <!-- Displays message for a correctly answered question -->
          <div *ngIf="this.question.isAnsweredCorrectly">
            <div class="optionContainer correct optionDisplay">
              <mat-icon class="isAnswerIcon">check_circle</mat-icon>
              <span><strong>Student Answer: Correct</strong></span>
            </div>
          </div>

          <!-- Displays message for a incorrectly answered question -->
          <div *ngIf="!this.question.isAnsweredCorrectly">
            <div class="optionContainer wrong optionDisplay">
              <mat-icon class="isAnswerIcon">cancel</mat-icon>
              <span><strong>Student Answer: Incorrect</strong></span>
            </div>
          </div>

          <!-- Displays student provided answer -->
          <p><strong>Submitted Answer:</strong></p>
          <div *ngIf="this.questionService.asTrueFalse(question).studentAnswer">
            <span class="optionListItem">True</span>
          </div>
          <div *ngIf="!this.questionService.asTrueFalse(question).studentAnswer">
            <span class="optionListItem">False</span>
          </div>

          <!-- Divider between Student answer / Correct Answer -->
          <hr>

          <!-- Displays instructor provided correct answer -->
          <p><strong>Correct Answer:</strong></p>
          <div *ngIf="this.questionService.asTrueFalse(question).answer">
            <span class="optionListItem">True</span>
          </div>
          <div *ngIf="!this.questionService.asTrueFalse(question).answer">
            <span class="optionListItem">False</span>
          </div>
        </div>

      </div>

    </mat-card>
  </div>

  <!-- Returns user to the student search page with student assessment list display -->
  <button class="returnButton" mat-raised-button [routerLink]="['/student/list', searchParameters]">Return to Student Results</button>

</mat-card>
<br>
