<mat-spinner color="primary" *ngIf="this.helperService.isLoading"></mat-spinner>
<br>
<mat-card *ngIf="!this.helperService.isLoading">
  <h2>{{this.takenAssessment.student.firstName}} {{this.takenAssessment.student.lastName}}'s Assessment Results</h2>

  <mat-grid-list cols="6" gutterSize="5px" rowHeight="30px">

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Assessment Name</h4>
      </mat-grid-tile-header>
      <p>{{takenAssessment.assessment.name}}</p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Score</h4>
      </mat-grid-tile-header>
      <p>{{takenAssessment.score}}</p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Assessment Results</h4>
      </mat-grid-tile-header>
      <div *ngIf="takenAssessment.studentPassed !== null">
        <div *ngIf="takenAssessment.studentPassed">
          <p>No BITS Required</p>
        </div>
        <div *ngIf="!takenAssessment.studentPassed">
          <p>BITS Required</p>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <h4>Date Taken</h4>
      </mat-grid-tile-header>
      <p></p>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<br>
<br>
<br>
<div  *ngIf="!this.helperService.isLoading">
<mat-card *ngFor="let question of takenAssessment.questions; let i=index">
  <h2>Question {{i + 1}}</h2>
  <h4>Possible Points: {{ question.points }}</h4>

  <!-- Question Text Display -->
  <p class="questionTextContent">{{ question.questionText }}</p>

  <!-- Third Row - Devoted to Question Responses and answers based on question type. -->
  <!-- IF the question type is Checkbox or Multiple Choice, displays a Selectable Options row. -->
  <div *ngIf="question.questionType == 'Checkbox' || question.questionType == 'Multiple Choice'" class="optionList">

    <!-- Question/Answer divider -->
    <hr>

    <!-- Question Option Tile -->
    <div class="optionListContainer" *ngIf="this.questionService.asCheckbox(question).options.length > 0">
      <div *ngFor="let option of this.questionService.asCheckbox(question).options; let i = index">

        <div *ngIf="this.question.isAnsweredCorrectly">
          <div class="optionContainer" [ngClass]="option.isAnswer ? 'correct' : '' ">
            <mat-icon [ngClass]="option.isAnswer ? 'isAnswerIcon' : 'isNotAnswerIcon' ">check_circle</mat-icon>
            <span class="optionListItem">{{option.optionText}}</span>
          </div>
        </div>

        <div *ngIf="!this.question.isAnsweredCorrectly">
          <div class="optionContainer" [ngClass]="option.isAnswer ? 'correct' : '' ">
            <div class="optionContainer" [ngClass]="option.optionIsSelected ? 'wrong' : '' ">
              <mat-icon [ngClass]="option.isAnswer ? 'isAnswerIcon' : 'isNotAnswerIcon' ">check_circle</mat-icon>
              <mat-icon [ngClass]="option.optionIsSelected ? 'isAnswerIcon' : 'isNotAnswerIcon' ">cancel</mat-icon>
              <span class="optionListItem">{{option.optionText}}</span>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>


  <!-- IF the question type is Short Answer, displays an Acceptable Answers row. -->
  <div class="matchList" *ngIf="question.questionType == 'Short Answer'">

    <!-- Question/Answer divider -->
    <hr>

    <!-- Acceptable Option Tile-->
    <div *ngIf="this.question.isAnsweredCorrectly">
          <div class="optionContainer correct">
            <mat-icon class="isAnswerIcon">check_circle</mat-icon>
            <span class="matchListItem">{{this.questionService.asShortAnswer(question).studentAnswer}}</span>
          </div>
    </div>

    <div *ngIf="!this.question.isAnsweredCorrectly">
      <div class="matchListContainer" *ngIf="this.questionService.asShortAnswer(question).matches.length > 0">
        <div *ngFor="let exactMatch of this.questionService.asShortAnswer(question).matches; let i = index">
          <div class="optionContainer correct">
            <mat-icon class="isAnswerIcon">check_circle</mat-icon>
            <span class="matchListItem">{{exactMatch.matchText}}</span>
          </div>
          <div class="optionContainer wrong">
            <mat-icon class="isAnswerIcon">cancel</mat-icon>
            <span class="matchListItem">{{this.questionService.asShortAnswer(question).studentAnswer}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- IF the question type is True False, displays a Correct Answer row. -->
  <div *ngIf="question.questionType === 'True False'"><br><br>

    <!-- Question/Answer divider -->
    <hr>

    <!-- Correct Answer Tile-->
    <div class="optionListContainer">
      <div *ngIf="this.question.isAnsweredCorrectly">
        <div class="optionContainer correct" *ngIf="this.questionService.asTrueFalse(question).answer">
          <mat-icon class="isAnswerIcon">check_circle</mat-icon>
          <span class="optionListItem">True</span>
        </div>
        <div class="optionContainer correct" *ngIf="!this.questionService.asTrueFalse(question).answer">
          <mat-icon class="isAnswerIcon">check_circle</mat-icon>
          <span class="optionListItem">False</span>
        </div>
      </div>

      <div *ngIf="!this.question.isAnsweredCorrectly">
        <div class="optionContainer wrong" *ngIf="this.questionService.asTrueFalse(question).studentAnswer">
          <mat-icon class="isAnswerIcon">cancel</mat-icon>
          <span class="optionListItem">True</span>
        </div>
        <div class="optionContainer correct" *ngIf="this.questionService.asTrueFalse(question).answer">
          <mat-icon class="isAnswerIcon">check_circle</mat-icon>
          <span class="optionListItem">True</span>
        </div>
        <div class="optionContainer wrong" *ngIf="!this.questionService.asTrueFalse(question).studentAnswer">
          <mat-icon class="isAnswerIcon">cancel</mat-icon>
          <span class="optionListItem">False</span>
        </div>
        <div class="optionContainer correct" *ngIf="!this.questionService.asTrueFalse(question).answer">
          <mat-icon class="isAnswerIcon">check_circle</mat-icon>
          <span class="optionListItem">False</span>
        </div>
      </div>
    </div>
  </div>
</mat-card>
</div>

<!-- Cancel Button : Cancels the save and send user back to question list -->
<button class="returnButton" mat-raised-button [routerLink]="['/student/list']">Return to Student Results</button>
