<form [formGroup]="createShortAnswerForm" (ngSubmit)="onSubmit(createShortAnswerForm.value)">
  <h3>Short Answer question details</h3>
  <!-- Question Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Enter Question Text:</mat-label>
    <input matInput id="questionText" type="text" formControlName="questionText">
  </mat-form-field>
  <app-validation-messages [control]="createShortAnswerForm.get('questionText')"></app-validation-messages>


  <!-- Add attachment component -->
  <app-attachment></app-attachment>
  <br>
  <mat-checkbox class="mt-20" [checked]="this.questionService.isCaseSensitive" (change)="this.questionService.hasCaseSensitivityChanged()">Are acceptable answers case
    sensitive?
  </mat-checkbox>
  <br>

  <mat-card>
    <h3>Acceptable Answers</h3>

    <!-- This displays the exact matches when match is saved by add acceptable answer click -->
    <app-list-exact-match></app-list-exact-match>

    <!-- <section class="addAnswerContainer"> -->
    <!-- Orion, wrapping the exact match is different than option, are you ok with not doing this here
      so it is more consistent in matching the options for checkbox and mutiple choice? -->

    <!-- Calls the webform to create a new match.  Visisble on load. -->
    <app-create-exact-match *ngIf="this.questionService.showCreateMatch"></app-create-exact-match>

    <!-- Buttons that control when the exact match webform is displayed -->
    <div class="buttonContainer">
      <!-- Cancel Button : If clicked will close the add acceptable answer form -->
      <button class="closeAddOption cancelOption" *ngIf="this.showCancelButton" mat-raised-button (click)="this.clickCancel()">
        Cancel<mat-icon>&nbsp;close</mat-icon>
      </button>
      <!-- Add Option button; used to display the Create Option form above -->
      <button class="addOption" mat-raised-button type="button" (click)="this.clickAdd()">
        Add Acceptable Answer<mat-icon>&nbsp;add</mat-icon>
      </button>
    </div>

    <!-- </section> -->

  </mat-card>
  <br>

  <!-- Submit Button : calls validation on all forms controllers when clicked -->
  <button class="saveButton" mat-raised-button type="submit">
    Save Question&nbsp;<mat-icon>save</mat-icon>
  </button>

  <!-- Cancel Button : Cancels the save and send user back to question list -->
  <button class="cancelOption" mat-raised-button [routerLink]="['/question/list']">
    Cancel&nbsp;<mat-icon>close</mat-icon>
  </button>
</form>
