  <form [formGroup]="createShortAnswerForm" (ngSubmit)="onSubmit(createShortAnswerForm.value)">
    <h3>New Short Answer question</h3>
<!-- Question Text Input -->
    <mat-form-field appearance="standard">
      <mat-label>Question Text:</mat-label>
      <input matInput id="questionText" type="text" formControlName="questionText" matTooltip="Info about the action">
    </mat-form-field>

<!-- Add attachment component -->
<app-attachment></app-attachment>

<h3>Add options for the answer</h3>
<app-create-exact-match></app-create-exact-match>

 <!-- Submit Button -->
 <button class="mt-20 saveButton" mat-raised-button type="submit">Save Question&nbsp;<mat-icon>save</mat-icon></button>
  </form>

