<p>{{ question.questionText }}</p>

  <mat-radio-group>
    <mat-radio-button [value]="true" (change)="onChangeOption($event)">True</mat-radio-button>
    <mat-radio-button [value]="false" (change)="onChangeOption($event)">False</mat-radio-button>
  </mat-radio-group>


  <br>

  <div *ngIf="this.assessmentService.showBackButton === true">
    <!-- Return to Assessment Button : Resets showBackButton to false and returns to the current assessment view -->
    <button class="cancelOption" mat-raised-button (click)="this.assessmentService.returnToAssessment()">
      Return to Assessment</button>
  </div>


