@import "../../../../styles.css";

@import "../../../exact-match/create-exact-match/create-exact-match.component.css";

form {
  width: 72%;
  margin:auto;
  background-color: #f0f0f0;
  overflow: hidden;
}

mat-card, mat-form-field, mat-checkbox{
  display: block;
}
