@import "../../../../styles.css";

mat-card {
  width: 96%;
  margin: auto;
  background-color: #f0f0f0;
}

form {
  margin: 25px;
  background-color: #f0f0f0;
  overflow: hidden;
}

mat-card, mat-form-field, mat-checkbox{
  display: block;
}

/* Hides the button to save options
The button click is now simulated in the handleCreateQuestionFormValidation of question service*/
.simulatedButton {
  display: none;
}
