mat-card {
  width: 95%;
  margin: 0px auto;
  padding: 15px;
}

form {
  padding: 25px;
}

mat-card, mat-form-field, mat-checkbox, button {
  display: block;
}

.mt-20 {
  margin-top: 20px;
}

.addIcon {
  color: #ffffff;
  background-color: #2cb01a;
}
