
  <form [formGroup]="createOptionForm" (ngSubmit)="onSubmit(createOptionForm.value)">

    <!-- Option Text Input -->
    <mat-form-field appearance="standard">
      <mat-label>Enter New Option</mat-label>
      <input matInput id="optionText" #formcontrol type="text" formControlName="optionText">
    </mat-form-field>
    <app-validation-messages [control]="createOptionForm.get('optionText')"></app-validation-messages>

    <!-- Is Answer Checkbox -->
    <mat-checkbox formControlName="isAnswer">Is this a correct answer?</mat-checkbox>

    <!-- This button will not display: click is simulated in helping validate the form and save value -->
    <button class="simulatedButton" type="submit" id="validateOption"></button>
    <!-- <button class="simulatedButton" type="submit" id="validateCBOptiononEdit"></button>  -->
  </form>

