mat-card {
  width: 90%;
  margin: 10px auto;
  padding: 15px;
}
form {
  padding: 25px;
}
mat-form-field{
  display: block;
}

mat-card, button, .mat-radio-group {
  display: block;
  margin-bottom: 10px;
}
form > mat-label{
  margin-top: 30px;
  display: block;
}
mat-radio-button:last-of-type {
  margin-left: 25px;
}

h3:first-of-type{
  font-size: 20px;
  padding: 0;
  margin: 0;
}
