/*
* Styles affecting the "list" question components.
*/

/* Styles the outer container; the one with the header. */
mat-card {
  width: 85%;
  margin: 20px auto;
  margin-bottom: 10px;
}

/* Styles the inner container; the one which holds the list of questions. */
mat-card > mat-card{
  width: 90%;
  background-color: #f9f9f9;
  padding-top: 0;
  padding-bottom: 0;
}

/* Styles the main header (Viewing all...) */
h1{
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 0px;
}

/* Styles content within the question header - Question Type and Symbols */
section.questionHeaderContent{
  color: gray;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
section.questionHeaderContent p{
  margin: 10px 0;
  padding: 3px;
}
section.questionHeaderContent mat-icon{
  padding-left: 10px;
  margin: 10px 0;
}

/* Styles the Question Text */
h3{
  margin: 0;
  padding-bottom: 10px;
}

/* Styles the Question Options */
mat-list-item{
  margin: 5px;
  padding: 0;
}

/* Adds a little bit of spacing to the bottom of the last question. */
div:last-of-type{
  padding-bottom: 10px;
}
mat-list-item span{
  font-size: 16px;
  padding: 0 10px;
}
mat-list-item span::before{
  /* Adds the bullet point before each question option */
  content: " • ";
}

/* Styles applied to the True False Answer icon */
mat-chip.isTrueFalseAnswerIcon {
  margin-bottom: 20px;
  margin-left: 20px;
}
