<form [formGroup]="editExactMatchForm" (ngSubmit)="onSubmit(editExactMatchForm.value)">
  <!-- Exact Match Text Input -->
  <mat-form-field appearance="standard">
    <mat-label>Option Text</mat-label>
    <input matInput id="matchText" type="text" formControlName="matchText" value="{{exactMatch.matchText}}">
  </mat-form-field>

  <!-- Submit Button -->
  <button *ngIf="editExactMatchForm.dirty" class="mt-20 addIcon" mat-raised-button type="submit">Save Option<mat-icon>&nbsp;save</mat-icon></button>
</form>
