<mat-card>
  <h3>Categories</h3>
    <mat-expansion-panel #mep="matExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add Category
        </mat-panel-title>
        <mat-panel-description>
          Enter a Category Name
        </mat-panel-description>
      </mat-expansion-panel-header>
  <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmit(createCategoryForm.value)">
  <mat-form-field appearance="standard">
    <mat-label>Category Name</mat-label>
    <input matInput id="categoryName" type="text" formControlName="categoryName">
  </mat-form-field>

  <!-- Submit Button -->
  <button class="addCategory" mat-raised-button type="submit" (click)="mep.expanded = false;">Add Category<mat-icon>&nbsp;add</mat-icon></button>
</form>
</mat-expansion-panel>
<h4>Category List</h4>
  <div *ngFor="let category of categoryList; let i = index">
    <mat-divider *ngIf="i != 0"></mat-divider>
    <section>
      <!-- Question Type -->
      <p>{{ category.name }}</p>
      <mat-icon class="editIcon" matListIcon>edit</mat-icon>
      <mat-icon class="deleteIcon iconButton" matListIcon (click)="this.questionService.deleteCategory(i)">delete</mat-icon>
    </section>
  </div>

</mat-card>
