/* You can add global styles to this file, and also import other style files */

/*

Mid-State Website Colors
$mstcRed: #82142D;
$mstcWhite: #fff;
$mstcGray: #404040;
$mstcDarkGray: #2d2d2d;
$mstcYellow: #fcb618;
$mstcBlue: #0b578a;
$mstcDarkBlue: #033d60;

*/

/* Setting html and body elements to reduce white space on page. */
html,
body {
  min-height: 900px;
}
html{
  margin: 10px auto;
  background-color: #2d2d2d;
  min-width: 750px;
  width: 70%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

/* Adjusting the top radius values to make page radius rounded. */
mat-toolbar{
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Styles applied to the page's "central component" (Create a Question, etc.) */
mat-card {
  width: 75%;
  margin: auto;
  margin-bottom: 10px;
}
mat-card, mat-form-field, mat-checkbox, mat-radio-group, button, h3, .mat-radio-button {
  display: block;
}

/* Styles applied to Forms */
form{
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden ; /* Prevents the Save button from falling out of the form due to it's float */
}
/* Adjusts spacing between each element. */
/* 'mat-radio-group' affects all inputs as well, and 'input' cannot be targetted directly. */
/* Spacing between Save Button and the radio buttons is performed through 'button:last-of-type'. */
mat-checkbox, mat-label{
  margin-bottom: 10px;
}
button:last-of-type{
  margin-top: 10px;
}

/* Adjusts the appearance of h1 headers */
h1{
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 0px;
}

/* Adjusts the appearance of h3 headers */
h3{
  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}

/* Makes the cursor turn into a hand for buttons */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.iconButton,
mat-icon {
  cursor: pointer;
}

/* Styles applied to the Save button */
button.saveButton {
  background-color: #82142D;
  color: #ffffff;
  display: block;
  margin-top: 40px;
  float: right;
}

/* Styles applied to the Upload button. Puts upload button on one line, rather than inline with the lower content. */
button.uploadButton {
  display: block;
  background-color: #404040;
  margin-bottom: 10px;
}

/* Styles applied to the Edit icon */
mat-icon.editIcon {
  color: #2d2d2d;
}
/* Styles applied to the Delete icon */
mat-icon.deleteIcon {
  color: #82142D;
}
mat-icon.deleteIcon:hover, mat-icon.editIcon:hover {
  opacity: 0.7;
}

/* Styles applied to the Add buttons (Add Option, Add Exact Match) */
button.addOption{
  background-color: #0b578a;
  color: #ffffff;
}

/* Styles applied to correct options */
mat-list-item.correct {
  background-color: rgba(111,255,133, 0.3);
}
