/* Importing global styles which were not applied initially */
@import "../../../../styles.css";

/* Adds extra margin to left side to differentiate the Create Category form from the Create Question form, */
/* as well as some padding to the left, right, and bottom */
form{
  margin-left: 50px;
  padding: 25px;
  padding-top: 0;
}
