<!-- Component displaying the list of existing category options -->
<app-list-category></app-list-category>

<!-- Create Category form that displays when the user selects 'Create New' from the dropdown -->
<form *ngIf="this.questionService.getShowHideCreateCategory()"
 [formGroup]="createCategoryForm" (ngSubmit)="onSubmit(createCategoryForm.value)">
  <!-- Category Name Input -->
  <mat-form-field appearance="standard">
    <mat-label>New Category Name</mat-label>
    <input matInput id="categoryName" type="text" formControlName="categoryName">
  </mat-form-field>
  <section class="categoryOptionContainer">
    <!-- Submit Button -->
    <button class="addOption" mat-raised-button color="accent" type="submit">Add Category<mat-icon>&nbsp;add</mat-icon></button>
    <button class="closeAddOption" mat-raised-button color="warn" type="button" (click)="this.questionService.setShowHideCreateCategory(false)">Cancel<mat-icon>&nbsp;close</mat-icon></button>
  </section>
</form>
<br>
