List of Categories
<div *ngIf="this.questionService.getCategoriesLoaded()">
  <form [formGroup]="selectCategoriesForm" (ngSubmit)=onSubmit(selectCategoriesForm.value)>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select #categorySelect formControlName="categoryList" (selectionChange)="this.questionService.onHandleCategory($event, categorySelect, selectCategoriesForm)" multiple>
        <mat-option value="create">Create New...</mat-option>
        <mat-option *ngFor="let category of categoryList; index as i" [value]="category">
        {{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
