/* Importing global styles */
@import "../../../../styles.css";

/* Adjusting the width of the component to better fit the table contents. */
mat-card{
  width: 90%;
}

::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

::ng-deep td.mat-cell, ::ng-deep th.mat-header-cell {
  padding: 25px !important;
}
